.app {
    padding: 30px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.errorMessage {
    color: red;
}

.task {
    font-style: italic;
}

.taskDone {
    font-weight: bold;
    text-decoration: line-through;
    opacity: 0.4;
}

.active {
    background-color: #46b67c;
    color: white;
    border-radius: 5px;
    border: 2px solid #46b67c;
}



