.App {
    padding: 30px;
    display: flex;
    background-color: #7ddea6;
    height: 100vh;
}

.App > div {
    margin-right: 50px;
}

.todolist {
    padding: 10px;
    border: 1px solid #046027;
    border-radius: 10px;
    height: max-content;
    background-color: #9d5ce5;
}

.buttons {
    text-align: center;
}

h3 {
    text-align: center;
}

.input{
    text-align: center;
}
